body {


}
    header {
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
        display: inline-block;
    }
        Header > img {
            display: inline-block;
            float: left;
    }
         nav {
            display: inline-block;
            float: right;
        }
                a {
                    display: inline-block;
    }
                a:last-of-type {
                            
                }

    main {
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
        display: inline-block;

    }
        div {
            display: inline-block;
            width: 40%;
            float: left;
            margin-right: 10%;
            margin-top: 100px;
        }
            h1 {
                display: inline-block;

            }
            p {
                display: inline-block;

                }
        main > img {
            display: inline-block;
            width: 50%;
            float: right;
            }